<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Emotion{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{url_for('static', filename='main2.css')}}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh-0.7.1.min.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh-0.7.1.min.js"></script>
    {% block css %}{% endblock %}
<script type="text/javascript">
$(function () {
      $("[rel='tooltip']").tooltip();
  });
</script>



  <body>
    <div class="site-wrapper">      <div class="site-wrapper-inner">        <div class="cover-container">
      <div class="inner cover">
        <h1 class="cvheadline">Analyse impact</h1>

        <div class="input-group input-group-lg col-xs-12">
          <input id = "ttx" type="text" class="form-control" placeholder="Link to Facebook post" >
          <span class="input-group-btn">
            <button id="btn" class="btn btn-warning" type="button" formmethod="POST">Go!</button>
          </span>

        </div>

      </div> </div>      </div>
    </div>


    <div class="site-wrapper" style="padding-top: 20px;">
       <div class="col-sm-4 main">
           <div class="site-wrapper-inner">

        <div style="padding-top: 20px; padding-left: 15px;" id="fb">
           <!-- <div class="fb-post" data-href= "https://www.facebook.com/bbcnews/posts/10153446879122217" data-width="400"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/bbcnews/posts/10153446086387217">Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on&nbsp;<a href="https://www.facebook.com/bbcnews/posts/10153446086387217">Thursday, August 27, 2015</a></blockquote></div></div> -->

        </div>



                 </div>
         </div>    <div class="col-sm-4 main">
         <div class="site-wrapper-inner">
             <h1 class="aheadline">Skimming through the article</h1>
             <ul style="list-style-type: none; text-align: left" >
               <li><h1><span class="label label-success" id="law, govt and politics" style="display:none;">law, govt and politics</span></h1></li>
               <li><h1><span class="label label-success" id="society" style="display:none;">society</span></h1></li>
               <li><h1><span class="label label-success" id="news" style="display:none;">news</span></h1></li>
               <li><h1><span class="label label-success" id="art and entertainment" style="display:none;">art and entertainment</span></h1></li>
               <li><h1><span class="label label-success" id="automotive and vehicles" style="display:none;">automotive and vehicles</span></h1></li>
               <li><h1><span class="label label-success" id="business and industrial" style="display:none;">business and industrial</span></h1></li>
               <li><h1><span class="label label-success" id="careers" style="display:none;">careers</span></h1></li>
               <li><h1><span class="label label-success" id="education" style="display:none;">education</span></h1></li>
               <li><h1><span class="label label-success" id="family and parenting" style="display:none;">family and parenting</span></h1></li>
               <li><h1><span class="label label-success" id="finance" style="display:none;">finance</span></h1></li>
               <li><h1><span class="label label-success" id="food and drink" style="display:none;">food and drink</span></h1></li>
               <li><h1><span class="label label-success" id="health and fitness" style="display:none;">health and fitness</span></h1></li>
               <li><h1><span class="label label-success" id="hobbies and interests" style="display:none;">hobbies and interests</span></h1></li>
               <li><h1><span class="label label-success" id="home and garden" style="display:none;">home and garden</span></h1></li>
               <li><h1><span class="label label-success" id="pets" style="display:none;">pets</span></h1></li>
               <li><h1><span class="label label-success" id="real estate" style="display:none;">real estate</span></h1></li>
               <li><h1><span class="label label-success" id="religion and spirituality" style="display:none;">religion and spirituality</span></h1></li>
               <li><h1><span class="label label-success" id="science" style="display:none;">science</span></h1></li>
               <li><h1><span class="label label-success" id="shopping" style="display:none;">shopping</span></h1></li>
               <li><h1><span class="label label-success" id="sports" style="display:none;">sports</span></h1></li>
               <li><h1><span class="label label-success" id="style and fashion" style="display:none;">style and fashion</span></h1></li>
               <li><h1><span class="label label-success" id="technology and computing" style="display:none;">technology and computing</span></h1></li>
               <li><h1><span class="label label-success" id="travel" style="display:none;">travel</span></h1></li>
             </ul>
                </br>
                </br>
                </br>

             <h1 class="aheadline">Understanding emotions</h1>
                 </br>
                 </br>
                 </br>
               </br>
               </br>
               </br>
                 <ul id="xox" style="list-style-type: none; text-align: left">
                 <li><h1><span class="label label-danger" id="anger" style="display:none;">anger</span></h1></li>
                 <li><h1><span class="label label-danger" id="contempt" style="display:none;">contempt</span></h1></li>
                 <li><h1><span class="label label-danger" id="disgust" style="display:none;">disgust</span></h1></li>
                 <li><h1><span class="label label-danger" id="fear" style="display:none;">fear</span></h1></li>
                 <li><h1><span class="label label-danger" id="happiness" style="display:none;">happiness</span></h1></li>
                 <li><h1><span class="label label-danger" id="neutral" style="display:none;">neutral</span></h1></li>
                 <li><h1><span class="label label-danger" id="sadness" style="display:none;">sadness</span></h1></li>

                <li><h1><span class="label label-danger" id="surprise" style="display:none;">surprise</span></h1></li>

                 </ul>
                  </div>

     </div>

     <div class="row "  data-toggle="tooltip">
       <div class="site-wrapper-inner" onmousemove="getPos(event)" data-toggle="tooltip">
       <div class="img" id ="img" onmousemove="getPos(event)">

             <h1 class="aheadline">Looking at people</h1>

              </div>
            </br>
            </br>
            </br></div>
             <h1 class="aheadline">Analysing impact</h1>
                 <div class="img" id ="eugh" onmousemove="getPos(event)">
                   <img id="love" src={{ url_for('static', filename = 'love.png') }}  style="display:none;" ></img>


                   <img id="haha" src={{ url_for('static', filename = 'haha.png') }} style="display:none;"></img>


                  <img id="angry" src={{ url_for('static', filename = 'angry.png') }} style="display:none;"></img>
                  <img id="wow" src={{ url_for('static', filename = 'wow.png') }} style="display:none;"></img>
                  <img id="sad" src={{ url_for('static', filename = 'sad.png') }} style="display:none;"></img>
                  </div>

     </div>

  </div>


    <div class="site-content">
      <div class="container">

        <!-- messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <br>
        <div class="row">
          <div class="col-md-12">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
             {{message}}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endwith %}


        <!-- child template -->
        {% block content %}{% endblock %}

        <br>

        <!-- errors -->
        {% if error %}https://www.facebook.com/bbcnews/posts/10153446410822217
          <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}

      </div>
    </div>

    <br><br>

    {% include 'footer.html' %}

    <!-- scripts -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{url_for('static', filename='main.js')}}" type="text/javascript"></script>
    {% block js %}{% endblock %}

  </body>
</html>
