{% extends "_base.html" %}

{% block content %}

<div class="body-content">
  <div class="row">
    <h1>Yolo</h1>
  </div>
  <br></br>

  <h2 id="products-top">Picture maybe here</h2>

  <!--Start of images-->


 <div class="img" id ="img">

      <form action="" method="post">
        <input type="text" value="" id="imagename"/>
        <input type="button" id="btn" value="analyyse" formmethod="POST" />
    </form>
  </div>

    <script type="text/javascript">
        console.log(document.getElementById('imagename').value);
        document.getElementById('btn').onclick = function() {
            var val = document.getElementById('imagename').value,
                src =  val ,
                img = document.createElement('img');

            img.src = src;
            document.getElementById('img').appendChild(img);
            // document.body.appendChild(img);
            $.ajax({
						type: 'POST',
						url: '/',
						data: {'img' : src,}
								});
        }
    </script>



<!---end of images-->
</div>


{% endblock %}
