{% extends "_base.html" %}


{% block content %}

<!-- <div class="body-content"> -->
  <!-- <div class="row">
    <h1>Reaction Predictor</h1>
  </div> -->
  <!-- <br></br> -->

  <!-- <h2 id="products-top" class="tooltip">Picture maybe here</h2> -->

  <!--Start of images-->




<!-- <p><a class="tooltip" >Roll over for tooltip</a></p> -->


    <script type="text/javascript">

    window.fbAsyncInit = function() {
   FB.init({
     appId      : '838247602881284',
     xfbml      : true,
     version    : 'v2.5'
   });
 };
 (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

        console.log(document.getElementById('ttx').value);
        d = 0
        function arg(arr){
          max = -Infinity,
          argmax = void(0);
          for(var key in arr) {
            if(arr[key] >= max) {
                max = obj[i];
                argmax = key;
            }
          }
          return argmax;
       }


        function getPos(e){
        x=e.clientX;
        y=e.clientY;
        // cursor="Your Mouse Position Is : " + x + " and " + y ;
        // console.log(this.offsetLeft );
        var x1 = (e.pageX - $('div.img').offset().left) //+ $(window).scrollLeft();

        var y1 = (e.pageY - $('div.img').offset().top) -28//+ $(window).scrollTop();
        // console.log(x1)
        d = [x1 , y1]
        // document.getElementById("displayArea").innerHTML=cursor;
        // console.log(cursor)
       }

       var rm = false;
       t2 = false;
        function worker() {
          // console.log("FAIL")
        $.ajax({
          dataType: "json",
          url: '/get_analysis',

          success: function(data) {
            // console.log(JSON.parse(data["img"]) );
            // console.log("###########")
            // console.log(data["img"])
            // console.log("##########")
            try{
            object = JSON.parse(data["img"]);
          }catch(err){
            object = data["img"]
          }


          if("wat" in data){
             k = data["wat"]
            //  g = $(k).show();
            try{
             g = document.getElementById(k ) ;
             g.style.display = "";
             console.log(document.getElementById(k))
             console.log("AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH")
           }catch(err){}
            //  g.style = "display:none;"
          }

            for(i=0; i<object.length; i++){
                obj = object[i];
                rect = obj.faceRectangle;
                height = rect.height;
                left = rect.left;
                top1 = rect.top;
                width = rect.width;
                // console.log(d);
                // console.log("FUUUUCK")
                // console.log(i)
                // console.log(rect.height +rect.top)
                // console.log(rect.left)
                // console.log(rect.top)
                // console.log(rect.left - rect.width)
                // console.log("FUUUUCK")
                if (d!=0 && d[0]<= rect.left+rect.width && d[0] >= rect.left && d[1] >= rect.top && d[1] <= rect.top + rect.height || true){
                    //  console.log(obj.scores);
                    //  console.log(i);
                     arr = obj.scores;
                       max = -Infinity,
                       argmax = void(0);
                       for(var key in arr) {
                         if(arr[key] >= max) {
                             max = arr[key];
                             argmax = key;
                         }
                       }


                      $("div.img.img").append("<p id='tooltip'>"+ argmax.replace("\"","").replace("'", "")+"</p>");
                      // if (rm){
                      //   $("#tooltip").remove();
                      // }
                    	$("#tooltip")
                    		.css("top",((rect.top + $('div.img').offset().top) -40 + rect.height) + "px")
                    		.css("left",(rect.left + $('div.img').offset().left ) + "px")
                    		.fadeIn("fast");
                }else{
                  // try{
                  //
                  //   if ($("#tooltip")!= undefined){
                  //     var now = new Date().getTime();
                  //     while(new Date().getTime() < now + 2000){ /* do nothing */ }
                  //     $("#tooltip").remove();
                  //   }
                  // }
                  // catch(err){
                  //   console.log("");
                  // }
                }rm=false;
            }
            topa = document.getElementById('ttx').value;
            t = topa.split("/")
            t2 = t[t.length -1];
            // console.log("debug");
            // console.log(topa);
            // console.log(t)
            // console.log(t2)
            // console.log("https://graph.facebook.com/228735667216_"+t2+"/?fields=picture,link");
            // console.log(">>>>>>>>>.")

          },
          complete: function() {

        // Schedule the next request when the current one's complete
            // setTimeout(worker, 100);
        // Schedule the next request when the current one's complete
            // setTimeout(worker, 100);
             }
        });


        if (t2 != false){
          // console.log("]]]]]]]]]]]]]]]")
          // console.log(t2)
          // console.log("]]]]]]]]]]]]]]]")
        $.ajax({dataType: "json", url: "https://graph.facebook.com/228735667216_"+t2+"/?fields=picture,link", success: function(data){
          // console.log(data);
          //     console.log(data["picture"]);

              picture = unescape(((data["picture"])))
              picture = picture.split('url=')[1].split('&')[0] //.replace('%3A',':').replace('%2F','/')
              // picture = picture.replace(/%2F/g, "/");
              // console.log(picture);

              document.getElementById('btn').onclick = function() {
                var val =picture,
                src =  val ,
                // $("#img").remove()
                img = document.createElement('img');
                // console.log(">>>>>>>>>>>")
                try{
                  console.log("########")
                  console.log(document.getElementById('#poop'));
                  document.getElementById('#poop').remove();
                  myNode = document.getElementById('img');
                  while (myNode.firstChild) {
                      myNode.removeChild(myNode.firstChild);
                  }
                  console.log("##############");
                }catch(err){
                    console.log(err);
                }
                // console.log(picture)
                // console.log(">>>>>>>>>>>")
                img.src = src;

                myNode = document.getElementById('img');
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
                img.id = "poop"
                document.getElementById('img').appendChild(img);
                x = true;
                rm = true;
                // document.body.appendChild(img);
                console.log( data["link"]);
                $.ajax({
                  type: 'POST',
                  url: '/',
                  data: {'img' : src, "link": data["link"]}
                });

                $.ajax({
                  type: 'POST',
                  url: '/get_analysis',
                  data: {'img' : src , "link": data["link"]}
                });
              }


        }


      })}
        };
        //The delay is here to give time to the back end to post the
        // walk in the get walk route before attempting to draw.
        setInterval(worker,1000);

        x = false;
        // console.log(t2)

    </script>



<!---end of images-->
<!-- </div> -->


{% endblock %}
